@import "tailwindcss";
@import "@heroui/styles";


@theme {
  --font-sans: "Poppins", var(--font-sans);
  --font-poppins: "Poppins", sans-serif;
  --font-wellington: "Wellington", cursive;
  --font-montserrat: "Montserrat", sans-serif;


  --color-verde-vg: #8ab79c;
  --color-accent-aqua-vg: #0c706e;
  --color-azul-vg: #79afda;
  --color-aqua-vg: #6cbcb9;
  --color-verde-claro-vg: #aecc8a;
  --color-azul-claro-vg: #78bfd5;
  --color-bg-vg: #f8fafc;
  --color-accent-morado-vg: #af78fe;
  --color-accent-naranjo-vg: #f0b675;
}

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --accent: #39a571;

  background-color: #f8fafc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}






@layer base {

  @font-face {
    font-family: 'Wellington';
    src: url('./assets/fonts/WellingtonSans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* Add more @font-face rules for different weights/styles if needed */
}


